[submodule "plugins/MicaForSteam"]
	path = plugins/MicaForSteam
	url = https://github.com/ShadowMonster99/MicaForSteam.git
[submodule "plugins/steam-browser-history"]
	path = plugins/steam-browser-history
	url = https://github.com/ricewind012/steam-browser-history
[submodule "plugins/adamraichu.auto-accept-custom-launch-args"]
	path = plugins/adamraichu.auto-accept-custom-launch-args
	url = https://github.com/AdamRaichu/auto-accept-custom-launch-args
[submodule "plugins/steamdb"]
	path = plugins/steamdb
	url = https://github.com/tddebart/Steam-SteamDB-extension
[submodule "plugins/augmented-steam"]
	path = plugins/augmented-steam
	url = https://github.com/tddebart/AugmentedSteam-Extension-Plugin
[submodule "plugins/millennium-faceit-stats"]
	path = plugins/millennium-faceit-stats
	url = https://github.com/alowave/millennium-faceit-stats
