[submodule "plugins/steam-browser-history"]
	path = plugins/steam-browser-history
	url = https://github.com/ricewind012/steam-browser-history
[submodule "plugins/adamraichu.auto-accept-custom-launch-args"]
	path = plugins/adamraichu.auto-accept-custom-launch-args
	url = https://github.com/AdamRaichu/auto-accept-custom-launch-args
[submodule "plugins/steamdb"]
	path = plugins/steamdb
	url = https://github.com/BossSloth/Steam-SteamDB-extension
[submodule "plugins/augmented-steam"]
	path = plugins/augmented-steam
	url = https://github.com/BossSloth/AugmentedSteam-Extension-Plugin
[submodule "plugins/millennium-faceit-stats"]
	path = plugins/millennium-faceit-stats
	url = https://github.com/alowave/millennium-faceit-stats
[submodule "plugins/aerothemesteam"]
	path = plugins/aerothemesteam
	url = https://github.com/ricewind012/aerothemesteam
[submodule "plugins/achievement-groups"]
	path = plugins/achievement-groups
	url = https://github.com/BossSloth/SteamHunter-plugin
[submodule "plugins/dwmx"]
	path = plugins/dwmx
	url = https://github.com/shdwmtr/dwmx
[submodule "plugins/steam-librarian"]
	path = plugins/steam-librarian
	url = https://github.com/luthor112/steam-librarian.git
[submodule "plugins/steam-easygrid"]
	path = plugins/steam-easygrid
	url = https://github.com/luthor112/steam-easygrid.git
[submodule "plugins/steam-taskbar-progress"]
	path = plugins/steam-taskbar-progress
	url = https://github.com/luthor112/steam-taskbar-progress.git
[submodule "plugins/steam-logo-pos"]
	path = plugins/steam-logo-pos
	url = https://github.com/luthor112/steam-logo-pos.git
[submodule "plugins/steam-collections-plus"]
	path = plugins/steam-collections-plus
	url = https://github.com/luthor112/steam-collections-plus.git
