{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "./scripts/release.js",
    "@semantic-release/changelog",
    "@semantic-release/git",
    {
      "path": "@semantic-release/github",
      "assets": ["build/*.zip"]
    }
  ]
}
